{{ form_start(form) }}
<div class="container">
    <div class="row col-6 offset-3">

        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}

        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}

        {{ form_label(form.entry) }}
        {{ form_widget(form.entry) }}

        {{ form_label(form.leaveAccommodation) }}
        {{ form_widget(form.leaveAccommodation) }}

        {{ form_label(form.property) }}
        {{ form_widget(form.property) }}


        <div class="col-12 d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-outline-info">Ajouter</button>
        </div>
    </div>
</div>
{{ form_end(form) }}