<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-color">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img src="{{ asset('build/images/locagestion.png') }}" alt="logo" class="img-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('location_index') }}">Localisations</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ajouter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('location_new') }}">Location</a>
                    <a class="dropdown-item" href="{{ path('property_new') }}">Propiété</a>
                    <a class="dropdown-item" href="{{ path('tenant_new') }}">Locataire</a>
                    <a class="dropdown-item" href="{{ path('locationAccounting_new') }}">Ligne Compta localisation</a>
                    <a class="dropdown-item" href="{{ path('propertyAccounting_new') }}">Ligne Compta propriété</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Liens Utiles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">CAF</a>
                    <a class="dropdown-item" href="#">EDF</a>
                    <a class="dropdown-item" href="#">Eau</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Admin</a>
            </li>
        </ul>
    </div>
</nav>